h1{
    text-align: center;
    font-size: larger;
    font-weight: 100;
    background-color: aliceblue;
    padding: 0%;
    margin: 0%;
}
#container{
    display: grid;
    margin-top: 100px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 2fr;
    gap: 10px;
}
.boxone{
    background-color: green;
    font-size: medium;
    font-family: fantasy;
    border-radius: 4px;
    
}
.boxtwo{
    background-color: cadetblue;
    font-size: medium;
    font-style: italic;
    font-weight: 100;
    border-radius: 4px;
}
.boxthree{
    background-color: aqua;
    font-size: medium;
    font-family: fantasy;
    border-radius: 4px;
    font-style: oblique;
}
body{
    background-color: grey;
    font-weight: 300;
    font-size: large;
    font-style: oblique;

}
@media screen and (max-width: 989px) {
    #container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .boxthree {
        grid-row-start: 2;
        grid-column-end: span 2;
    }
}
